on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
            AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
            LOCALSTACK_ENDPOINT: ${{ secrets.LOCALSTACK_ENDPOINT }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Start LocalStack
                uses: LocalStack/setup-localstack@v0.2.3
                with:
                    image-tag: 'latest'
                    install-awslocal: 'true'
                    configuration: DEBUG=1
                    use-pro: 'true'
                env:
                    LOCALSTACK_AUTH_TOKEN: ${{ secrets.LOCALSTACK_AUTH_TOKEN }}
                - name: Docker login to LocalStack ECR
                    run: |
                    aws --endpoint-url $LOCALSTACK_ENDPOINT ecr get-login-password \
                        | docker login --username AWS --password-stdin localhost:4510

            - name: Build and push Docker image to LocalStack ECR
                run: |
                    IMAGE_NAME="my-app"
                    IMAGE_TAG="latest"
                    ECR_REPO="localhost:4510/${IMAGE_NAME}"
                    docker build -t ${IMAGE_NAME}:${IMAGE_TAG} -f app/Dockerfile .
                    docker tag ${IMAGE_NAME}:${IMAGE_TAG} ${ECR_REPO}:${IMAGE_TAG}
                    docker push ${ECR_REPO}:${IMAGE_TAG}
